<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBSh57Jjs845g_tHhmqH08E1_b2D5rq1ps</string>
	<key>GCM_SENDER_ID</key>
	<string>75670352059</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reclaimprotocol.voterseye</string>
	<key>PROJECT_ID</key>
	<string>voterseye</string>
	<key>STORAGE_BUCKET</key>
	<string>voterseye.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:75670352059:ios:c69de5da0941248a19b99e</string>
</dict>
</plist>